.item {
  display: flex;
  align-items: center;
  width: 300px;
  padding: 5px;
  margin-bottom: 10px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5),
    1px 1px 5px rgba(255, 255, 255, 1);
}
/* 
.status {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
} */

.avatar {
  margin: 15px 0;
}

.name {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
}

.red {
  width: 38px;
  height: 38px;
  background-color: red;
  border-radius: 50%;
  margin: 0px 30px;
}

.green {
  width: 38px;
  height: 38px;
  background-color: green;
  border-radius: 50%;
  margin: 0px 30px;
}
